<!DOCTYPE HTML>
<html lang="en">

    <%- include('./partials/head/head.ejs') %>

    <body>

        <%- include('./partials/aside/aside.ejs') %>

        <main class="main-wrap">

            <%- include('./partials/header/header.ejs') %>
            <section class="content-main">
                <form action="/admin/add-new-products" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-9">
                            <div class="content-header">
                                <h2 class="content-title">Add New Product</h2>
                                <div>
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Confirm</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Basic</h4>
                                </div>
                                <div class="card-body">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" placeholder="Type here" name="name" class="form-control" id="product_name">
                                    </div>
                                    <% if (category) { %>
                                        <div class="mb-4">
                                            <label for="product_category" class="form-label">Category
                                            </label>

                                            <select name="category" id="" required>
                                                <% for( cate of category ) { %>

                                                    <option value="" selected disabled></option>
                                                    <option value="<%= cate.name %>"><%= cate.name %></option>
                                                    %>
                                                </option>
                                            <% } %>
                                        </select>
                                    </option>
                                </div>
                            <% } %>
                            <div class="mb-4">
                                <label for="product_stock" class="form-label">Product Stock</label>
                                <input type="text" placeholder="Type here" name="stock" class="form-control" id="product_name">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" name="description" rows="4"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <div class="row gx-2">
                                            <input placeholder="$" type="text" name="price" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Promotional price</label>
                                        <input placeholder="$" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Currency</label>
                                    <select class="form-select">
                                        <option>
                                            USD
                                        </option>
                                        <option>
                                            EUR
                                        </option>
                                        <option>
                                            RUBL
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Product Image</h4>
                        </div>

                        <div class="card-body">
                            <div class="input-upload">
                                <input type="file" name="imageUrl" class="form-control" id="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </body>
</html></section><%- include('./partials/footer/footer.ejs') %></body></html>
