<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include('./partials/head/head.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Ensure Chart.js is included -->
</head>

<body>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="BuzzBrews & Chills">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize">
                    <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <div class="menu-aside">

                <a class="menu-link" href="/admin/dashboard">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </div>
                <div class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Categories</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/users-list">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/add-new-products">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </div>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/transaction">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
                <div class="menu-item">
                    <a class="menu-link" href="/">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">User Login</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Coupon</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/admin/brands">
                        <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span>
                    </a>
                </div>
            </div>
            <hr>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">

        <%- include('./partials/header/header.ejs') %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard </h2>
                        <p>Whole data about your business here</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create
                            report</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                        class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span>₹ <%= totalRevenue %> </span>
                                    <span class="text-sm">
                                        Shipping fees are not included
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i
                                        class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6> <span>
                                        <%= orderCount %>
                                    </span>
                                    <span class="text-sm">
                                        Excluding orders in transit
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                        class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6> <span>
                                        <%= productCount %>
                                    </span>
                                    <span class="text-sm">
                                        In <%= categoryCount %> Categories
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i
                                        class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6> <span>$6,982</span>
                                    <span class="text-sm">
                                        Based on your local time.
                                    </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <h2>Daily Report</h2>
                    <canvas id="dailyChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Weekly Report</h2>
                    <canvas id="weeklyChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Monthly Report</h2>
                    <canvas id="monthlyChart"></canvas>
                </div>
                <div class="chart-container">
                    <h2>Yearly Report</h2>
                    <canvas id="yearlyChart"></canvas>
                </div>
                <!-- <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <canvas id="myChart" height="120"></canvas>
                            </article>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Revenue Base on Area</h5>
                                <canvas id="myChart2" height="217"></canvas>
                            </article>
                        </div>
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Marketing Channel</h5>
                                <span class="text-muted font-xs" id="dailyChart">Facebook</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" id="dailyChart" style="width: 15%">15%</div>
                                </div>
                                <span class="text-muted font-xs">Instagram</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 65%">65%</div>
                                </div>
                                <span class="text-muted font-xs">Google</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 51%">51%</div>
                                </div>
                                <span class="text-muted font-xs">Twitter</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                                </div>
                                <span class="text-muted font-xs">Other</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div> -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i
                                        class="material-icons md-chevron_right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </section> <!-- content-main end// -->

            <%- include('./partials/footer/footer.ejs') %>
                <script>
                    const monthly = `<%- JSON.stringify(monthlyData) %>`;
                    const monthlyData = JSON.parse(monthly)
                    const yearly = `<%- JSON.stringify(yearlyData) %>`
                    const yearlyData = JSON.parse(yearly)
                    const weekly = `<%- JSON.stringify(weeklyData) %>`;
                    const weeklyData = JSON.parse(weekly)
                    const daily = `<%- JSON.stringify(dailyData) %>`
                    const dailyData = JSON.parse(daily)

                    const renderChart = (ctx, labels, data, label) => {
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: label,
                                    data: data,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    };

                    // Monthly chart
                    const monthlyLabels = monthlyData.map(data => `${data.year}-${data.month}`);
                    const monthlyCosts = monthlyData.map(data => data.totalDeliveredCost);
                    const monthlyCtx = document.getElementById('monthlyChart').getContext('2d');
                    renderChart(monthlyCtx, monthlyLabels, monthlyCosts, 'Total Delivered Cost');

                    // Yearly chart
                    const yearlyLabels = yearlyData.map(data => data.year);
                    const yearlyCosts = yearlyData.map(data => data.totalDeliveredCost);
                    const yearlyCtx = document.getElementById('yearlyChart').getContext('2d');
                    renderChart(yearlyCtx, yearlyLabels, yearlyCosts, 'Total Delivered Cost');

                    // Weekly chart
                    const weeklyLabels = weeklyData.map(data => `Year ${data.year} - Week ${data.week}`);
                    const weeklyCosts = weeklyData.map(data => data.totalDeliveredCost);
                    const weeklyCtx = document.getElementById('weeklyChart').getContext('2d');
                    renderChart(weeklyCtx, weeklyLabels, weeklyCosts, 'Total Delivered Cost');

                    // Daily chart
                    const dailyLabels = dailyData.map(data => `${data.year}-${data.month}-${data.day}`);
                    const dailyCosts = dailyData.map(data => data.totalDeliveredCost);
                    const dailyCtx = document.getElementById('dailyChart').getContext('2d');
                    renderChart(dailyCtx, dailyLabels, dailyCosts, 'Total Delivered Cost');
                </script>
                <!-- <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        (function ($) {
                            "use strict";

                            /*Sale statistics Chart*/
                            if ($('#myChart').length) {
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var chart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                        datasets: [
                                            {
                                                label: 'Sales',
                                                tension: 0.3,
                                                fill: true,
                                                backgroundColor: 'rgba(44, 120, 220, 0.2)',
                                                borderColor: 'rgba(44, 120, 220)',
                                                data: [18, 17, 4, 3, 2, 20, 25, 31, 25, 22, 20, 9]
                                            },
                                            {
                                                label: 'Visitors',
                                                tension: 0.3,
                                                fill: true,
                                                backgroundColor: 'rgba(4, 209, 130, 0.2)',
                                                borderColor: 'rgb(4, 209, 130)',
                                                data: [40, 20, 17, 9, 23, 35, 39, 30, 34, 25, 27, 17]
                                            },
                                            {
                                                label: 'Products',
                                                tension: 0.3,
                                                fill: true,
                                                backgroundColor: 'rgba(180, 200, 230, 0.2)', // Corrected RGB value
                                                borderColor: 'rgb(180, 200, 230)', // Corrected RGB value
                                                data: [30, 10, 27, 19, 33, 15, 19, 20, 24, 15, 37, 6]
                                            }
                                        ]
                                    },
                                    options: {
                                        plugins: {
                                            legend: {
                                                labels: {
                                                    usePointStyle: true,
                                                },
                                            }
                                        }
                                    }
                                });
                            }

                            /*Revenue Base on Area Chart*/
                            if ($('#myChart2').length) {
                                var ctx = document.getElementById("myChart2");
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ["900", "1200", "1400", "1600"],
                                        datasets: [
                                            {
                                                label: "US",
                                                backgroundColor: "#5897fb",
                                                barThickness: 10,
                                                data: [233, 321, 783, 900]
                                            },
                                            {
                                                label: "Europe",
                                                backgroundColor: "#7bcf86",
                                                barThickness: 10,
                                                data: [408, 547, 675, 734]
                                            },
                                            {
                                                label: "Asian",
                                                backgroundColor: "#ff9076",
                                                barThickness: 10,
                                                data: [208, 447, 575, 634]
                                            },
                                            {
                                                label: "Africa",
                                                backgroundColor: "#d595e5",
                                                barThickness: 10,
                                                data: [123, 345, 122, 302]
                                            },
                                        ]
                                    },
                                    options: {
                                        plugins: {
                                            legend: {
                                                labels: {
                                                    usePointStyle: true,
                                                },
                                            }
                                        },
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            }
                        })(jQuery);
                    });
                </script> -->
</body>

</html>