<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head/head.ejs') %>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
            integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

        <style>
            body {
                background-color: #f8f9fa;
                font-family: 'Roboto', sans-serif;
                line-height: 1.6;
                color: #333;
            }

            .invoice-container {
                max-width: 800px;
                margin: 0 auto;
                padding: 30px;
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            }

            .invoice-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ddd;
            }

            .invoice-header h2 {
                font-size: 28px;
                font-weight: 700;
                color: #333;
                margin: 0;
            }

            .btn-download {
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .btn-download:hover {
                background-color: #0056b3;
            }

            .info-title {
                font-size: 20px;
                font-weight: 600;
                color: #555;
                margin-bottom: 10px;
            }

            .info-details {
                color: #777;
                margin-bottom: 20px;
                line-height: 1.4;
            }

            .summary-title {
                font-size: 24px;
                font-weight: 700;
                color: #333;
                margin-bottom: 20px;
            }

            .summary-table {
                width: 100%;
                border-collapse: collapse;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            }

            .summary-table th,
            .summary-table td {
                padding: 15px;
                border-bottom: 1px solid #ddd;
                text-align: left;
            }

            .summary-table th {
                background-color: #f5f5f5;
                font-weight: 500;
            }

            .summary-table td {
                font-weight: 400;
            }

            .text-right {
                text-align: right;
            }
        </style>
</head>

<body>
    <div class="invoice-container">
        <div class="invoice-header">
            <h2>Invoice</h2>
            <button onclick="downloadInvoice()" class="btn-download"><i class="fas fa-download"></i> Download
                Invoice</button>
        </div>

        <div class="company-info">
            <div class="info-title">Company Information</div>
            <div class="info-details">
                BuzzBrewsAndChills<br>
                Bangalore, Karnataka, India<br>
                Email: info.flourish@gmail.com<br>
                Phone: +0123-456789
            </div>
        </div>

        <div class="customer-info">
            <div class="info-title">Billed To</div>
            <div class="info-details">
                <%= orderData.address.name %><br>
                    <%= orderData.address.homeAddress %><br>
                        <%= orderData.address.street %><br>
                            <%= orderData.address.city %>, <%= orderData.address.state %><br>
                                    <%= orderData.address.country %>, <%= orderData.address.pincode %><br>
                                            Phone: <%= orderData.address.phoneNumber %><br>
                                                Email: <%= orderData.address.email %>
            </div>
        </div>

        <div class="order-summary">
            <div class="summary-title">Order Summary</div>
            <table class="summary-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderData.products.forEach((product, index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>$<%= product.price %>
                            </td>
                            <td>
                                <%= product.quantity %>
                            </td>
                            <td>$<%= product.price * product.quantity %>
                            </td>
                        </tr>
                        <% }) %>
                            <tr>
                                <td colspan="4" class="text-right">Sub Total</td>
                                <td>$<%= orderData.totalPrice %>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">Discount</td>
                                <td>$<%= orderData.couponDiscount %>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td colspan="4" class="text-right">Shipping Charge</td>
                                <td>$<%#= orderData.status %>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td colspan="4" class="text-right">Tax</td>
                                <td>$<%#= orderData.vat %>
                                </td>
                            </tr> -->
                            <tr>
                                <td colspan="4" class="text-right">Total</td>
                                <td><strong>$<%= orderData.totalPrice %></strong></td>
                            </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Ensure correct inclusion of jsPDF and AutoTable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

    <script>
        function downloadInvoice() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
            const order = `<%- JSON.stringify(orderData) %>`;
            const orderData = JSON.parse(order);

            // Company Details
            doc.setFontSize(16);
            doc.setTextColor(34, 34, 34);
            doc.text("Company Information", 20, 30);
            doc.setTextColor(119, 119, 119);
            doc.setFontSize(14);
            doc.text("BuzzBrewsAndChills\nBangalore, Karnataka, India\ninfo.flourish@gmail.com\n+0123-456789", 20, 40);

            // Customer Details
            doc.setTextColor(34, 34, 34);
            doc.text("Billed To", 20, 70);
            doc.setTextColor(119, 119, 119);
            doc.setFontSize(14);
            doc.text(`${orderData.address.name}\n${orderData.address.homeAddress}\n${orderData.address.street}\n${orderData.address.city}, ${orderData.address.state}\n${orderData.address.country}, ${orderData.address.pincode}\nPhone: ${orderData.address.phoneNumber}\nEmail: ${orderData.address.email}`, 20, 80);

            // Order Summary
            doc.setTextColor(34, 34, 34);
            doc.text("Order Summary", 20, 130);
            doc.autoTable({
                startY: 140,
                head: [['No.', 'Item', 'Price', 'Quantity', 'Total']],
                body: orderData.products.map((product, index) => {
                    return [
                        index + 1,
                        product.name,
                        `$${product.price}`,
                        product.quantity,
                        `$${product.price * product.quantity}`
                    ];
                }),
                theme: 'grid',
                styles: {
                    font: 'Arial',
                    fontSize: 10,
                    textColor: [34, 34, 34],
                    fontStyle: 'normal',
                    overflow: 'linebreak'
                },
                headStyles: { fillColor: [224, 224, 224] },
                columnStyles: {
                    1: { cellWidth: 'auto' },
                }
            });

            // Total
            const totalY = doc.previousAutoTable.finalY + 10;
            doc.setFontSize(14);
            doc.text(`Sub Total: $${orderData.totalPrice}`, 20, totalY);
            doc.text(`Discount: $${orderData.couponDiscount}`, 20, totalY + 10);
            // doc.text(`Shipping Charge: $${orderData.status}`, 20, totalY + 20);
            // doc.text(`Tax: $${orderData.vat}`, 20, totalY + 30);
            doc.text(`Total: $${orderData.totalPrice}`, 20, totalY + 40);

            doc.save('invoice.pdf');
        }
    </script>

    <%- include('partials/footer/footer.ejs') %>

</body>

</html>