<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head/head.ejs' ) %>

    <body>

        <%- include('./partials/header/header.ejs') %>

            <!-- breadcrumb-section -->
            <div class="breadcrumb-section breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="breadcrumb-text">
                                <p>Fresh and Organic</p>
                                <h1>Shop</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end breadcrumb section -->

            <!-- products -->
            <div class="product-section mt-150 mb-150">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-filters">
                                <ul>
                                    <li class="active" data-filter="*">All</li>
                                    <li data-filter=".strawberry">ENERGY DRINKS</li>
                                    <li data-filter=".berry">COOL DRINKS</li>
                                    <li data-filter=".lemon">COLDCOFFEE</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row product-lists">

                        <% if(products){console.log(products.length)} %>
                            <% for(let i=0; i<products.length;i++){%>
                                <div class="col-lg-4 col-md-6 text-center berry">
                                    <div class="single-product-item">
                                        <a href="/product-view/<%= products[i]._id %> ">
                                            <div class="product-image">
                                                <img src="/product-images/<%= products[i].imageUrl[0] %>"
                                                    alt="<%= products[i].name %>">
                                            </div>
                                        </a>
                                        <h3>
                                            <%= products[i].name %>
                                        </h3>
                                        <% if (products[i].stock <40) { %>
                                            <% if (products[i].stock===0) { %>
                                                <p style="font-weight: bold;font-size: medium;" class="text-danger">
                                                    Product is currently <br>
                                                    out of stock!!!</p>
                                                <% }else{ %>
                                                    <p class="product-stock">
                                                        <span class="text-danger"
                                                            style="font-weight: bolder;font-size: medium;">Hot
                                                            Deal!</span><br>
                                                        <span class="text-success"
                                                            style="font-size: medium;font-weight: bold;">In
                                                            Stock </span>,only <span id="stock_<%= i %>">
                                                            <%= products[i].stock %>
                                                        </span> left
                                                    </p>
                                                    <% } %>
                                                        <% } %>
                                                            <p class="product-price">
                                                                <span>Per Kg</span>
                                                                <%= products[i].price %>

                                                            </p>
                                                            <% if (products[i].stock> 0){ %>

                                                                <button
                                                                    onclick="addToCartUsingFetch('<%= i %>',`<%= products[i]._id %>`)"
                                                                    class="cart-btn"><i
                                                                        class="fas fa-shopping-cart"></i> Add to
                                                                    Cart</button>
                                                                <% }else{ %>
                                                                    <button
                                                                        onclick="addToCartUsingFetch('<%= i %>',`<%= products[i]._id %>`)"
                                                                        class="cart-btn" disabled><i
                                                                            class="fas fa-shopping-cart"></i> Add to
                                                                        Cart</button>
                                                                    </button>
                                                                    <% } %>
                                    </div>
                                </div>
                                <% }%>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination-wrap">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a class="active" href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end products -->

            <%- include('./partials/footer/footer.ejs') %>

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>

    <script>
        async function addToCartUsingFetch(index, productId) {
            const productStock = document.getElementById('stock_' + index).innerHTML
            console.log(productStock, 'productstock is showing');
            await fetch(`/add-to-cart/?productId=${productId}&stock=${productStock}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'applicaton/json'
                }
            }).then(response => !response.ok ? console.log('some network error occured') : response.json())
                .then(data => {
                    console.log(data.result)
                    data.result === 'within limit' ?
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Successfully product added to cart",
                            showConfirmButton: false,
                            timer: 1500
                        }) : Swal.fire({
                            position: "center",
                            icon: "error",
                            title: "Maximum product limit is exceeded",
                            showConfirmButton: false,
                            timer: 1500
                        })
                }).catch(err => {
                    console.log(err, 'Some error occured in fetch method in shop page');
                })
        }
    </script>

</html>